{%extends "layout.html"%}
{%block content%}
<head>
<style type="text/css">
    p {
        /* text-indent: 2em;    */
       text-align: justify;
       /* text-justify: auto;
       display: inline-block; */
       /* padding-left: 2em; */
       padding-right: 2em;
       white-space: white-space}
    </style>
</head>
<div class = 'home' style="text-indent:2em">
    <h1>Preface</h1>

    <p>Welcome to my personal website!</p>
    <p>You could know many things about me, especially relevant to computer science.</p>

    <h1>My CS Study</h1>

    <p><b>Sep, 2012</b></p>
    <p style="text-indent:2em; padding-left: 2em;">I entered Hunan University and started to study my first CS course, Introduction to Computer Science. This course was based on C language.</p>

    <p><b>Mar, 2013</b></p>
    <p style="text-indent:2em; padding-left: 2em;">I took the National Computer Rank Examination (NCRE) of C Programming Language. To pass this exam, I read two books (more than 600 pages) and finished all exercises within one month. Due to my good preparations, I completed the exam in only half of the required time, and I was the first person to leave the exam room. Finally, I passed this exam and got an A-level certificate.</p>

    <p><b>Apr, 2013</b></p>
    <p style="text-indent:2em; padding-left: 2em;">I was taking my second CS course, Fundamentals of Programming. 
        My teacher assigned a project that was difficult for novices. 
        I still remembered some details though many years had passed. 
        This project was a poker game, which required us to implement functions like shuffle, sorting, comparison and so on. 
        Only a few students completed this project and I was one of them. 
        My work impressed my teacher, and he promised that he would teach me how to implement multiplayer functionality. 
        However, he didn’t do it. 
        And this became one of the regrets of my college days.</p>

    <p><b>Sep, 2016</b></p>
    <p style="text-indent:2em; padding-left: 2em;">I became a graduate and focused on the research about bridge weigh-in-motion (BWIM). BWIM theory is to get the weight of moving vehicles without interrupt traffic. I studied the influence line (IL) algorithm and came up a modified IL algorithm to considering the change of vehicle speed. The algorithm was implemented via MATLAB.</p>

    <p><b>Sep, 2020</b></p>
    <p style="text-indent:2em; padding-left: 2em;">I decided to study python systematically due to the popularity of it, and Python for Everybody is my first python course. It was a good start to continue my computer science study.</p>



</div>
{%endblock%}